# Java/Maven
target/
*.class
*.jar

# IDE - ustawienia edytorów
.idea/
*.iml
out/
.vscode/

# Build - pliki generowane podczas kompilacji
target/
**/target/

# Docker i Baza danych - dane bazy i logi
docker-music/mysql/data/
*.log

# Systemowe - śmieci z macOS/Windows
.DS_Store
Thumbs.db
